/*
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #eeeeee;
}

nav {
    background-color: white;
    border-left: solid 1px black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 20px;
}

nav a, nav a:hover {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style: none;
    padding-left: 25px;
    margin-top: 0px;
}

nav h4 {
    padding-top: 6px;
    margin-bottom: 8px;
    border-top: dashed 1px black;
}

footer {
    text-align: center;
    font-size: 10px;
    background-color: white;
    margin: 0;
    padding: 10px 0;
}

.page {
    height: 100vh;
    margin: 0;
    border-bottom: dashed 1px black;
}

.red {
    background-color: #aa6060;
}